
<!-- Sidebar -->
<div id="sidebar-wrapper" ng-class="{ 'sidepanel-open':open, 'sidepanel-closed':!open }" style="z-index: 9;">
  <ul class="sidebar-nav">

    <li style="color:white;">
        <h3 style="margin-left: 80px;">Cases</h3>
    </li>

    <li class="sidebar-brand">
      <a class="btn" id="menu-toggle" ng-click="open=!open" style="text-align: left; padding-left: 0;">
        <i class="fa fa-bars" style="display: inline"></i>
      </a>
    </li>
    <li ng-repeat="case in test.cases">
      <button class="nav-button" ng-click="changeCase($index)">{{$index + 1}}
        <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" width="30%" height="30%" style="margin-left: 84px;">
      </button>
    </li>
    <li>
      <a ng-click="addCase()">+
        <span style="margin-left: 80px;">Add</span>
      </a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->


<div class="row marketing" ng-class="{ 'mainpanel-open':open, 'mainpanel-closed':!open }">


  <div class="col-lg-4">

    <form class="form-horizontal" style="margin-top: 20px;">
      <fieldset>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-12" for="name">Case Name</label>
          <div class="col-md-12">
            <input id="name" name="name" type="text" ng-model="currentCase.name" placeholder="" class="form-control input-md">

          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-12" for="description">Case Description</label>
          <div class="col-md-12">
            <textarea class="form-control" id="description" ng-model="currentCase.description" name="description"></textarea>
          </div>
        </div>

      </fieldset>
    </form>


    <h1 style="text-align: center;">Images</h1><hr>

    <div class="row" style="margin-top: 20px;" ng-show="xray>=1">
      <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" width="100%" height="100%">

      <button type="button"
              class="btn btn-danger"
              aria-label="Left Align"
              style="position: absolute; top:120px; right:20px;"
              ng-click="xray=0">
        Delete
      </button>
    </div>

    <div class="row" style="margin-top: 20px;" ng-show="xray>=2">
      <img src="./images/x-ray2.jpg" class="img-rounded" alt="X-Ray" width="100%" height="100%">

      <button type="button"
              class="btn btn-danger"
              aria-label="Left Align"
              style="position: absolute; top:600px; right:20px;"
              ng-click="xray=1">
        Delete
      </button>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px; text-align: center;" class="row">
      <!--<div class="col-lg-6">-->
        <!--<button type="button" class="btn btn-danger square-btn-adjust" ng-click="xrayToggle()">Add an Image/X-Ray</button>-->
        <button type="button"
                ngf-select="uploadFiles($files, $invalidFiles)"
                multiple
                accept="image/x-png, image/jpeg"
                ngf-max-height="10000"
                ngf-max-size="10MB"
                class="btn btn-danger square-btn-adjust">Add an Image/X-Ray</button>
      <!--<input type="file" capture="camera" accept="image/x-png, image/jpeg" id="cameraInput" name="cameraInput">-->
      <!--</div>-->
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>

  </div>




  <!-------------------Vertical Line-->
  <div class="col-lg-1" >
    <div class="vertical-line"> </div>
  </div>


  <!-------------------Vertical Line-->

  <div class="col-lg-7">
    <h1 style="text-align: center;">{{caseTitle()}}</h1><hr>

    <div ng-repeat="questions in currentCase.questions">
      <span ng-include="'views/question.html'">

      </span>
    </div>

    <button type="button"
            class="btn btn-danger square-btn-adjust"
            ng-click="addQuestion()"
            style="float: right; margin-bottom: 20px;">
      Add a Question
    </button>

    <!--Button Grid-->

    <div class="col-lg-12" style="padding: 0;">
      <hr>
    </div>

    <div class="col-lg-10"></div>
    <div class="col-lg-2">
      <button type="button"
              class="btn btn-danger square-btn-adjust"
              style="float: right; margin-bottom: 40px;">
        Save
      </button>
    </div>

  </div>
</div>
