<!-- Modal -->
<!--<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">Add Images</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->

        <!--<form class="form-horizontal" name="newTest" novalidate="">-->
          <!--<fieldset>-->
            <!--<div class="row">-->
              <!--<div class="col-lg-3"></div>-->
              <!--<div class="col-lg-6" style="text-align: center;">-->
                <!--<input type="file" name="file" id="file" class="inputfile"-->
                       <!--ng-model="myfile" multiple base-sixty-four-input-->
                       <!--accept="image/x-png, image/jpeg"-->
                       <!--ngf-max-height="10000"-->
                       <!--ngf-max-size="10MB"-->
                       <!--data-multiple-caption="{count} files selected">-->
                <!--<label for="file">Choose files</label>-->
              <!--</div>-->
              <!--<div class="col-lg-3"></div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-lg-3"></div>-->
              <!--<div class="col-lg-6" ng-show="true" style="text-align: center;">-->
                <!--<h3>Images Selected</h3>-->
              <!--</div>-->
              <!--<div class="col-lg-3"></div>-->
            <!--</div>-->

          <!--</fieldset>-->
        <!--</form>-->


      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="imageModal">Close</button>-->
        <!--<button type="button" class="btn btn-danger" data-dismiss="imageModal" ng-click="">Upload</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!-- Sidebar -->
<div id="sidebar-wrapper" ng-class="{ 'sidepanel-open':open, 'sidepanel-closed':!open }" style="z-index: 9;">
  <ul class="sidebar-nav">

    <li style="color:white;">
        <!--<h3 style="margin-left: 80px;">Cases</h3>-->
      <!--<a class="navbar-brand" style="padding: 0px;" ui-sref="header.tests">-->
      <div class="navbar-brand-side" style="padding: 0px;">
        <img style="height: 90%; margin-left: 7px; margin-right: 0px; float: left;" src="../images/icon.png">
        <span style="padding: 20px; float: left; color: #C90000;">Quiz</span>
      </div>
    </li>

    <li class="sidebar-brand">
      <a class="btn side-hamburger" id="menu-toggle"
         ng-click="open=!open"
         ng-class="{ 'open-hamburger' : open }">
        <i class="fa fa-bars" style="display: inline"></i>
      </a>
    </li>
    <li ng-repeat="case in test.cases">
      <button class="nav-button" ng-click="changeCase($index)">{{$index + 1}}
        <img ng-if="!allCases[$index].images[0].accessUrl"
             src="./images/placeholder.png" class="img-rounded"
             alt="X-Ray"
             width="90px"
             height="50px"
             style="margin-left: 50px;">
        <img ng-if="allCases[$index].images[0].accessUrl"
             ng-src="{{allCases[$index].images[0].accessUrl}}"
             class="img-rounded"
             width="90px"
             height="50px"
             style="margin-left: 50px;">
      </button>
    </li>
    <li>
      <a ng-click="addCase()">+
        <span style="margin-left: 80px;">Add</span>
      </a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->


<div class="row marketing" ng-class="{ 'mainpanel-open':open, 'mainpanel-closed':!open }">


  <div class="col-lg-4">


    <div>
      <h1 style="text-align: center;">{{caseTitle()}}</h1>
      <hr>
    </div>

    <form class="form-horizontal" style="margin-top: 20px;">
      <fieldset>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-12" for="name">Case Name</label>
          <div class="col-md-12">
            <input id="name" name="name" type="text" ng-model="currentCase.name" placeholder="" class="form-control input-md">

          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-12" for="description">Case Description</label>
          <div class="col-md-12">
            <textarea class="form-control" id="description" ng-model="currentCase.description" name="description"></textarea>
          </div>
        </div>

        <span ng-controller="tagsCtrl">
          <div ng-dropdown-multiselect=""
               options="localTags"
               selected-model="tagsModel"
               extra-settings="tagsSettings"></div>
        </span>

      </fieldset>
    </form>


    <h1 style="text-align: center;">Images</h1><hr>

    <dic class="images-container" ng-if="currentCase.images.length>0">
      <div class="row" ng-repeat="image in currentCase.images" style="margin-top: 20px;">

        <button type="button"
                class="btn btn-danger delete-btn"
                aria-label="Left Align" ng-click="deleteImageFromCase($index)">
          Delete
        </button>

        <img ng-src="{{image.accessUrl}}" class="img-rounded" alt="X-Ray" width="100%" height="100%">
      </div>
    </dic>

    <div style="margin-top: 20px; margin-bottom: 20px; text-align: center;" class="row">
      <!--<div class="col-lg-6">-->
        <!--<button type="button" class="btn btn-danger square-btn-adjust"-->
                <!--data-toggle="modal"-->
                <!--data-target="#imageModal">Add an Image/X-Ray</button>-->
      <input type="file" name="file" id="file" class="inputfile"
             ng-focus="addClassToInput()"
             ng-blur="removeClassToInput()"
             ng-class="firefoxClass"
             ng-model="myfile" multiple base-sixty-four-input
             accept="image/x-png, image/jpeg"
             ngf-max-height="10000"
             ngf-max-size="10MB"
             data-multiple-caption="{count} files selected" on-after-validate="uploadFilesToCase">
      <label for="file"><i class="fa fa-upload"></i>  Add an image</label>
        <!--<button type="button"-->
                <!--ngf-select="uploadFilesToCase($files, $invalidFiles)"-->
                <!--multiple-->
                <!--accept="image/x-png, image/jpeg"-->
                <!--ngf-max-height="10000"-->
                <!--ngf-max-size="10MB"-->
                <!--class="btn btn-danger square-btn-adjust">Add an Image/X-Ray</button>-->
      <!--</div>-->
    </div>

    <!--<div class="progress">-->
      <!--<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">-->
        <!--<span class="sr-only">45% Complete</span>-->
      <!--</div>-->
    <!--</div>-->

  </div>




  <!-------------------Vertical Line-->
  <div class="col-lg-1" >
    <div class="vertical-line"> </div>
  </div>


  <!-------------------Vertical Line-->

  <div class="col-lg-7">

    <div ng-repeat="model in questionsOnView track by $index">
      <span ng-include="'views/admin-question.html'">

      </span>
    </div>

    <div class="col-lg-12" style="padding: 0; min-height: 30px;">
      <button type="button"
              class="btn btn-danger square-btn-adjust"
              ng-click="addQuestion()"
              style="float: right;">
        Add a Question
      </button>
    </div>

    <!--Button Grid-->

    <div class="col-lg-12" style="padding: 0;">
      <hr>
    </div>

    <div class="col-lg-10"></div>
    <div class="col-lg-2">
      <button type="button"
              class="btn btn-danger square-btn-adjust"
              ng-click="saveAll()"
              style="float: right; margin-bottom: 40px;">
        Save
      </button>
    </div>

  </div>
</div>
