
<!-- Sidebar -->
<div id="sidebar-wrapper" ng-class="{ 'sidepanel-open':open, 'sidepanel-closed':!open }" style="z-index: 9;">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="btn" id="menu-toggle" ng-click="open=!open" style="text-align: left; padding-left: 0;">
        <i class="fa fa-bars" style="display: inline"></i>
      </a>
    </li>
    <li>
      <a href="#">Q1
        <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" width="30%" height="30%" style="margin-left: 50px;">
      </a>
    </li>
    <li>
      <a href="#">Q2
        <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" width="30%" height="30%" style="margin-left: 50px;"></a>
    </li>
    <li>
      <a href="#">Q3
        <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" width="30%" height="30%" style="margin-left: 50px;"></a>
    </li>
    <li>
      <a href="#">+
        <span style="margin-left: 80px;">Add</span>
      </a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->


<div class="row marketing" ng-class="{ 'mainpanel-open':open, 'mainpanel-closed':!open }">


  <div class="col-lg-4">
    <h1 style="text-align: center;">Images</h1><hr>

    <div class="row" style="margin-top: 20px;" ng-show="xray>=1">
      <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" width="100%" height="100%">

      <button type="button"
              class="btn btn-danger"
              aria-label="Left Align"
              style="position: absolute; top:120px; right:20px;"
              ng-click="xray=0">
        Delete
      </button>
    </div>

    <div class="row" style="margin-top: 20px;" ng-show="xray>=2">
      <img src="./images/x-ray2.jpg" class="img-rounded" alt="X-Ray" width="100%" height="100%">

      <button type="button"
              class="btn btn-danger"
              aria-label="Left Align"
              style="position: absolute; top:600px; right:20px;"
              ng-click="xray=1">
        Delete
      </button>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px; text-align: center;" class="row">
      <!--<div class="col-lg-6">-->
        <!--<button type="button" class="btn btn-danger square-btn-adjust" ng-click="xrayToggle()">Add an Image/X-Ray</button>-->
        <button type="button" ngf-select="uploadFiles($files, $invalidFiles)" multiple
                accept="image/x-png, image/jpeg" ngf-max-height="10000" ngf-max-size="10MB"
                class="btn btn-danger square-btn-adjust">Add an Image/X-Ray</button>
      <!--</div>-->
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Picture<br><h6>(JPG or PNG ONLY)</h6></label>
      <div class="col-md-6">
        <div class="input-group">
          <input type="file" capture="camera"  id="cameraInput" name="cameraInput">
        </div>
      </div>
    </div>

  </div>


  <div class="col-lg-1" >
    <div class="vertical-line"> </div>
  </div>


  <div class="col-lg-7">
    <h1 style="text-align: center;">Question 1</h1><hr>


    <div class="panel panel-danger" style="margin-top: 20px;">
      <div class="panel-heading">
        <div class="input-group" style="width: 100%;">
          <textarea class="form-control"
                    placeholder="Question"
                    id="textarea"
                    name="textarea"
                    ng-model="myText"
                    style="height: 200px;"></textarea>
        </div>
      </div>


      <div class="panel-body">

        <ul style="margin-bottom: 0px;">
          <div class="btn-group" role="group" ng-model="mainSelect">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{mainSelect}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-click="mainSelect='True'"><a>True</a></li>
              <li ng-click="mainSelect='False'"><a>False</a></li>
            </ul>
          </div>
        </ul>
        <!--<ul>-->
          <!--<select class="selectpicker" ng-model="mainSelect">-->
            <!--<option value="multi">Multiple Choice</option>-->
            <!--<option value="multi">Multi Select</option>-->
            <!--<option value="field">Open</option>-->
          <!--</select>-->
        <!--</ul>-->


        <!--Multipple Choice-->
        <div class="col-lg-12" ng-show="mainSelect==='False'">
          <hr>

          <div class="col-lg-12">
            <div class="input-group" style="width: 100%;">
              <textarea class="form-control"
                      placeholder="Answer"
                      id="answer"
                      name="answer"
                      ng-model="answer"
                      style="height: 200px;"></textarea>
            </div>
          </div>

          <div class="col-lg-12" style="margin-top: 20px; text-align: center;" ng-show="xray2>=1">
            <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" style="width: 200px; margin: auto;">
            <button type="button"
                    class="btn btn-danger"
                    aria-label="Left Align"
                    style="position: absolute; top:10px; right:210px;"
                    ng-click="xray2=0">
              X
            </button>
          </div>
          <div class="col-lg-12" style="margin-top: 20px; text-align: center;" ng-show="xray2>=2">
            <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" style="width: 200px; margin: auto;">
            <button type="button"
                    class="btn btn-danger"
                    aria-label="Left Align"
                    style="position: absolute; top:10px; right:210px;"
                    ng-click="xray2=1">
              X
            </button>
          </div>

          <div class="col-lg-12" style="margin-top: 20px;">
            <button type="button" class="btn btn-danger" ng-click="secondXrayToggle()">Add Image</button>
          </div>

          <!--<div class="col-lg-6">-->
              <!--<ul>-->
                <!--<div class="input-group">-->
                  <!--<input type="text" class="form-control" placeholder="Choice" aria-describedby="basic-addon1">-->
                  <!--<span class="input-group-addon">-->
                    <!--<input type="radio">-->
                  <!--</span>-->
                <!--</div>-->
              <!--</ul>-->
              <!--<ul>-->
                <!--<div class="input-group">-->
                  <!--<input type="text" class="form-control" placeholder="Choice" aria-describedby="basic-addon1">-->
                  <!--<span class="input-group-addon">-->
                    <!--<input type="radio">-->
                  <!--</span>-->
                <!--</div>-->
              <!--</ul>-->


              <!--<ul>-->
                <!--<div class="btn-group" role="group" aria-label="">-->
                  <!--<button type="button" class="btn btn-primary">-->
                    <!--<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>-->
                  <!--</button>-->
                  <!--<button type="button" class="btn btn-danger" style="margin-left: 10px;">-->
                    <!--<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>-->
                  <!--</button>-->
                <!--</div>-->
              <!--</ul>-->
          <!--</div>-->
        </div>


      </div>

    </div>



    <!--Button Grid-->

    <div class="col-lg-12" style="padding: 0;">
      <hr>
    </div>

    <div class="col-lg-10"></div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-danger square-btn-adjust" style="float: right; margin-bottom: 40px;">Next</button>
    </div>

  </div>
</div>
