<div class="row marketing">
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="input-group full-width">
        <input type="text" class="form-control" placeholder="Question" aria-describedby="basic-addon1">
        </div>
      <!--<button type="button" class="btn btn-success" style="float: right">+</button>-->
    </div>


    <div class="panel-body">

      <ul>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Question Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a>Multiple Choice</a></li>
            <li><a>Multi Select</a></li>
            <li><a>Open</a></li>
          </ul>
        </div>
      </ul>


      <!--Multipple Choice and MultiSelect-->
      <div class="col-lg-12">
        <hr>
        <div class="col-lg-6">
            <ul>
              <div class="input-group full-width">
                <input type="text" class="form-control" placeholder="Choice" aria-describedby="basic-addon1">
              </div>
            </ul>
            <ul>
              <div class="input-group full-width">
                <input type="text" class="form-control" placeholder="Choice" aria-describedby="basic-addon1">
              </div>
            </ul>


            <ul>
              <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" style="margin-left: 10px;">
                  <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                </button>
              </div>
            </ul>
        </div>
      </div>




      <!--Field-->
      <div class="col-lg-12">

        <hr>
        <ul>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Field Type
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a>Single Line</a></li>
              <li><a>Text Field</a></li>
            </ul>
          </div>
        </ul>


        <div class="col-lg-6">
          <ul>
            <div class="input-group full-width">
              <input type="text" class="form-control" placeholder="Character limit (0-5000)" aria-describedby="basic-addon1">
            </div>
          </ul>
        </div>
      </div>










    </div>
  </div>


  <!--Button Grid-->
  <div class="col-lg-2">
    <button type="button" class="btn btn-success">Add a Question</button>
  </div>
  <div class="col-lg-10"></div>

  <div class="col-lg-12" style="padding: 0;">
    <hr>
  </div>

  <div class="col-lg-10"></div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-success" style="float: right;">Done</button>
  </div>



</div>
