<div class="row marketing">
  <form class="form-horizontal">

    <div class="col-lg-6">
      <div class="row" style="margin-top: 20px;">
        <img src="./images/x-ray1.jpg" class="img-rounded" alt="X-Ray" width="100%" height="100%">
      </div>

      <div class="row" style="margin-top: 20px;">
        <img src="./images/x-ray2.jpg" class="img-rounded" alt="X-Ray" width="100%" height="100%">
      </div>
    </div>



    <div class="col-lg-6">

      <!--Question 1-->
      <div class="panel panel-danger" style="margin-top: 20px;">
        <div class="panel-heading">
          <h3 class="auto-margin">What is this?</h3>
        </div>

        <div class="panel-body">

          <!--Multipple Choice-->
          <div class="form-group">
            <!--<label class="col-md-4 control-label" for="radios">Multiple Radios</label>-->
            <div class="col-lg-2"></div>
            <div class="col-md-10">
              <div class="radio">
                <label for="radios-0">
                  <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                  Option one
                </label>
              </div>
              <div class="radio">
                <label for="radios-1">
                  <input type="radio" name="radios" id="radios-1" value="2">
                  Option two
                </label>
              </div>
              <div class="radio">
                <label for="radios-2">
                  <input type="radio" name="radios" id="radios-2" value="3">
                  Option three
                </label>
              </div>
              <div class="radio">
                <label for="radios-3">
                  <input type="radio" name="radios" id="radios-3" value="3">
                  Option four
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Question 2-->
      <div class="panel panel-danger" style="margin-top: 20px;">
        <div class="panel-heading">
          <h3 class="auto-margin">Question 2?</h3>
        </div>

        <div class="panel-body">

          <!--Multipple Choice-->
          <div class="form-group">
            <!--<label class="col-md-4 control-label" for="radios">Multiple Radios</label>-->
            <div class="col-lg-2"></div>
            <div class="col-md-10">

              <div class="checkbox">
                <label for="checkboxes-0">
                  <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                  Option one
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes-1">
                  <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                  Option two
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes-2">
                  <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
                  Option three
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes-3">
                  <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4">
                  Option four
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes-4">
                  <input type="checkbox" name="checkboxes" id="checkboxes-4" value="5">
                  Option five
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes-5">
                  <input type="checkbox" name="checkboxes" id="checkboxes-5" value="6">
                  Option six
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Question 3-->
      <div class="panel panel-danger" style="margin-top: 20px;">
        <div class="panel-heading">
          <h3 class="auto-margin">Question 3?</h3>
        </div>

        <div class="panel-body">

          <!--Multipple Choice-->
          <div class="form-group">
            <!--<label class="col-md-4 control-label" for="radios">Multiple Radios</label>-->
            <div class="col-lg-2"></div>
            <div class="col-md-10">

              <div class="checkbox">
                <label for="checkboxes3-0">
                  <input type="checkbox" name="checkboxes" id="checkboxes3-0" value="1">
                  Option one
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes3-1">
                  <input type="checkbox" name="checkboxes" id="checkboxes3-1" value="2">
                  Option two
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes3-2">
                  <input type="checkbox" name="checkboxes" id="checkboxes3-2" value="3">
                  Option three
                </label>
              </div>
              <div class="checkbox">
                <label for="checkboxes3-3">
                  <input type="checkbox" name="checkboxes" id="checkboxes3-3" value="4">
                  Option four
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Question 4-->
      <div class="panel panel-danger" style="margin-top: 20px;">
        <div class="panel-heading">
          <h3 class="auto-margin">Question 4?</h3>
        </div>

        <div class="panel-body">

          <!--Multipple Choice-->
          <div class="form-group">
            <!--<label class="col-md-4 control-label" for="radios">Multiple Radios</label>-->
            <!--<div class="col-lg-2"></div>-->
            <div class="col-md-12">
              <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>
        </div>
      </div>

      <!--Question 5-->
      <div class="panel panel-danger" style="margin-top: 20px;">
        <div class="panel-heading">
          <h3 class="auto-margin">Question 5?</h3>
        </div>

        <div class="panel-body">

          <!--Multipple Choice-->
          <div class="form-group">
            <!--<label class="col-md-4 control-label" for="radios">Multiple Radios</label>-->
            <!--<div class="col-lg-2"></div>-->
            <div class="col-md-12">
              <textarea class="form-control" id="textarea" name="textarea" ng-model="myText"></textarea>
              <div>Word Count: <span ng-bind="countOf(myText)"></span>/1500</div>
            </div>
          </div>
        </div>
      </div>


      <!--Button Grid-->

      <div class="col-lg-10"></div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-danger square-btn-adjust" style="float: right;">Submit</button>
      </div>

    </div>
  </form>
</div>
